APP_NAME="CariPasal API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_TIMEZONE=Asia/Makassar
APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=caripasal
DB_USERNAME=caripasal_user
DB_PASSWORD=caripasal_local_password

POSTGRES_DB=caripasal
POSTGRES_USER=caripasal_user
POSTGRES_PASSWORD=caripasal_local_password

CARIPASAL_SUPER_ADMIN_EMAIL=superadmin@caripasal.local
CARIPASAL_SUPER_ADMIN_PASSWORD=ChangeMe123!
CARIPASAL_SUPER_ADMIN_NAME="Super Admin"

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@caripasal.local
MAIL_FROM_NAME="CariPasal"

CORS_ALLOWED_ORIGINS="http://127.0.0.1:8080,http://localhost:8080,http://127.0.0.1:5173,http://localhost:5173,http://127.0.0.1:3001,http://localhost:3001"
ADMIN_PASSWORD_RESET_URL=http://127.0.0.1:8080/reset-password
MOBILE_PASSWORD_RESET_URL=http://127.0.0.1:8080/reset-password

RUN_MIGRATIONS=true
RUN_SEEDERS=true
